  /* ------------------------------------------------------ */
  /* =============== Base Style =============== */
  body {
    margin: 0;
    /* padding: 0; */
    font-family: 'General Sans', sans-serif;
    /* overflow: hidden; */
    background: url('/assets/images/homepage_bg.png') no-repeat center center fixed;
    background-size: cover;
    /* color: rgba(232, 28, 232, 0.667); */
  }
  
  /* ========== Landing Page ========== */
  .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* ======= Circle Background Wrapper ======= */
  .circle-bg {
    position: relative;
    width: 1000px;
    height: 1000px;
  }
  
  /* ========== Center Circle + Name ========== */
  .circle-core {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }
  
  .initial {
    font-size: 3.5rem;
    /* font-weight: 400; */
    font-family: 'Gloock', serif;
    color: #412234;
  }
  
  .divider {
    width: 80px;
    border: 1px solid #412234;
    margin: 10px auto;
  }
  
  .star {
    font-size: 1.2rem;
    color: #412234;
  }
  
  /* ========== Circle Navigation ========== */ 
  .circle-nav {
    width: 100%;
    /* height: auto;
    max-width: 1000px;
    overflow: visible;
    display: block;
    aspect-ratio: 1 / 1; */
    height: 100%;
    padding-top: 100px; /* Adds space  */
    box-sizing: border-box;
    z-index: 1;

    /* animation: rotateCircle 20s linear infinite; */
    animation: rotateCircle 40s linear infinite;
    transform-origin: center;
    transition: animation-play-state 0.5s ease-out;
  }

  .circle-nav:hover {
    /* animation-play-state: paused; */
    animation: rotateCircleStop 1s ease-out forwards;
  }
  
  .nav-text {
    fill: #2E4052;
    font-size: 3.0rem;
    font-weight: 600;
    font-family: 'Clash Display', sans-serif;
    text-anchor: middle;
    letter-spacing: 2.5px;
    /* transition: fill 0.3s ease;
    cursor: pointer;
    pointer-events: all; */
  }
  
  /* ========== Hover Effect ========== */
  .nav-text:hover {
    fill: #824c9a;
  }

  /* --- Debug Circle --- */
  /* textPath {
    stroke: red;
    stroke-width: 0.5px;
  } */

  /* ====== Responsive Considerations ====== */
@media (max-width: 768px) {
  .circle-bg {
    width: 600px;
    height: 600px;
  }

  .initial {
    font-size: 40px;
  }

  .nav-text {
    font-size: 16px;
  }
}

/* ====== Animation ====== */
/* @keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Original rotation */
@keyframes rotateCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Slow down on hover */
@keyframes rotateCircleStop {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(10deg); }
}

  /* ------------------------------------------------- */